h1{
    text-align:center;
}

h2{
    position: relative;
    text-align:left;
    left: 55px;
    top : 10px;
}
#info{
    position: relative;
    top: 2px;
    left: 20px;;
}
#info  td{
    width: 150px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}
#info  tr{
    width: 150px;
    text-align: center;
}
#timetable{
    position: relative;
    top: 25px;
    left:10px;
    max-width: 800px;
}
#timetable, #timetable th, #timetable td{
    border: 1px solid black;
}
#timetable  th{
    /*width: 150px;*/
    padding:2px 5px 2px 5px;
}
#timetable  td{
    padding:2px 5px 2px 5px;
    text-align: center;
    min-width: 100px;
}
#timetable  tr{
    height: 10px;
}
#submit{
    position: relative;
    top: 50px;
}
#submit  th{
    width: 200px;
    text-align: center;
}
#submit  tr{
    width: 390px;
    text-align: center;
}
