h1{
    text-align:center;
}

h2{
    position: relative;
    text-align:left;
    left: 55px;
    top : 10px;
}
#info{
    position: relative;
    top: 2px;
    left: 20px;;
}
#info  td{
    width: 150px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}
#info  tr{
    width: 150px;
    text-align: center;
}
#timetable{
    position: relative;
    top: 25px;
    width: 900px;
}
#timetable, #timetable th, #timetable td{
    border: 1px solid black;
}
#timetable  th{
    width: 150;
}
#timetable  td{
    width: 150;
    text-align: center;
}
#timetable  tr{
    height: 10px;
}