h1{
    text-align:center;
}
h2{
    position: relative;
    text-align:left;
    left: 55px;
    top : 10px;
}
#info{
    position: relative;
    top: 2px;
    left: 20px;
}
#info  td{
    width: 150px;
    padding: 5px;
    text-align: left;
    margin-bottom: 10px;
}
#info  tr{
    /*width: 150px;*/
}

.timetable{
    position: relative;
    border-collapse: collapse;
    /*border: none;*/
    top: 25px;
    left: 15px;
    max-width: 775px;
    min-width: 775px;
    border: 2px solid #005e77;
}
/*.timetable td{*/
    /*border-collapse: collapse;*/
    /*border: 1px solid #005e77;*/
/*}*/
.timetable td{
    border: 5px solid white;
    border-collapse: collapse;
    text-align: center;
    vertical-align: top;
    padding: 10px 5px 10px 5px;
}
.timetable .interval{
    background-color: #005e77;
    color: white;
}
.timetable  th{
    width: 120px;
    background-color: #005e77;
    color: white;
    padding: 5px;
}
.timetable th.time{
    width: 100px;
}

.text {
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #DDD inset;
    color: #666;
    outline: none;
    height:20px;
    width: 120px;
}
.text2 {
    background: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    /*box-shadow: 0 0 5px #DDD inset;*/
    color: #666;
    outline: none;
    height:20px;
    width: 230px;
}
/*#assign{*/
    /*position: relative;*/
    /*top: 25px;*/
/*}*/
/*#assign, #assign th, #assign td{*/
    /*border: 1px solid black;*/
/*}*/
/*#assign  th{*/
    /*width: 230px;*/
/*}*/
/*#assign  td{*/
    /*width: 230px;*/
    /*text-align: center;*/
/*}*/
/*#assign  tr{*/
    /*height: 10px;*/
/*}*/
.classroom{
    position: relative;
    display: block;
    width: 40px;
    height: 18px;
    opacity: 0.5;
    background-color: #151612;
    color: white;
    top: -10px;
    left: -4px;
    text-align: center;
    vertical-align: middle;
}

#submit{
    position: relative;
    top: 50px;
}
#submit  th{
    width: 200px;
    text-align: center;
}
#submit  tr{
    width: 390px;
    text-align: center;
}
/*.collapse{*/
    /*border-collapse: collapse;*/
    /*border: 0px #ffffff;*/
    /*margin: 1;*/
/*}*/
/*.collapse, .collapse tr > th .collapse tr > td{*/
    /*border-collapse: collapse;*/
    /*border: none;*/
/*}*/
.animated{
    background-color: white;
    /*color: red;*/
}
