h1{
    text-align:center;
}
h2{
    position: relative;
    text-align:left;
    left: 55px;
    top : 10px;
}
#info{
    position: relative;
    top: 2px;
    left: 20px;;
}
#info  td{
    width: 150px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}
#info  tr{
    width: 150px;
    text-align: center;
}
#timetable{
    position: relative;
    border-collapse: collapse;
    top: 25px;
    max-width: 1000px;
}
#timetable, #timetable th, #timetable td{
   /*border: 1px solid black;*/
}
#timetable  th{
    /*width: 120px;*/
}
#timetable  td{
    /*width: 120px;*/
    text-align: center;
    padding: 0;
}
#timetable th.time{
    width: 120px;
}
#timetable  tr{
    height: 10px;
}

.text {
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #DDD inset;
    color: #666;
    outline: none;
    height:20px;
    width: 120px;
}
.text2 {
    background: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    /*box-shadow: 0 0 5px #DDD inset;*/
    color: #666;
    outline: none;
    height:20px;
    width: 230px;
}
#assign{
    position: relative;
    top: 25px;
}
#assign, #assign th, #assign td{
    border: 1px solid black;
}
#assign  th{
    width: 230px;
}
#assign  td{
    width: 230px;
    text-align: center;
}
#assign  tr{
    height: 10px;
}
#submit{
    position: relative;
    top: 50px;
}
#submit  th{
    width: 200px;
    text-align: center;
}
#submit  tr{
    width: 390px;
    text-align: center;
}
#collapse{
    border-collapse: collapse;
    border: 0px #ffffff;
    margin: 1;
}
#collapse,#collapse tr > th #collapse tr > td{
    /*border-collapse: collapse;*/
    /*border: none;*/
}
#timetable, #timetable th, #timetable td{
    border: 1px solid black;
}
.rowToHide {
}