h1{
    text-align:center;
}
h2{
    position: relative;
    text-align:left;
    left: 55px;
    top : 10px;
}
#info{
    position: relative;
    top: 2px;
    left: 20px;
}
#info  td{
    width: 150px;
    padding: 5px;
    text-align: left;
    margin-bottom: 10px;
}
.timetable{
    position: relative;
    border-collapse: collapse;
    /*border: none;*/
    top: 25px;
    left: 15px;
    max-width: 775px;
    min-width: 775px;
    border: 2px solid #005e77;
}
.timetable td{
    border: 5px solid white;
    border-collapse: collapse;
    text-align: center;
    vertical-align: top;
    padding: 10px 5px 10px 5px;
}
.subject textarea{
    width:90px;
    height:45px;
    resize: none;
    border: 0px solid;
    outline: 0;
    font-size: 1em;
    text-align: center;
}
.timetable .interval{
    background-color: #005e77;
    color: white;
}
.timetable  th{
    width: 120px;
    background-color: #005e77;
    color: white;
    padding: 5px;
}
.timetable th.time{
    width: 100px;
}
/*.text {*/
    /*background: white;*/
    /*border: none;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 0 5px #DDD inset;*/
    /*color: #666;*/
    /*outline: none;*/
    /*height:20px;*/
    /*width: 120px;*/
/*}*/
/*.text2 {*/
    /*background: white;*/
    /*border: 1px solid #DDD;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 0 5px #DDD inset;*/
    /*color: #666;*/
    /*outline: none;*/
    /*height:20px;*/
    /*width: 230px;*/
/*}*/
.classroom{
    position: relative;
    display: block;
    width: 40px;
    height: 18px;
    opacity: .5;
    top: -10px;
    left: -4px;
}
.classroom input{
    background-color: #151612;
    color: white;
    width: 40px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-size: 1.0em;
    border: 0px solid;
    outline: 0;
}
#submit{
    position: relative;
    /*top: 10px;*/
    left: 50px;
}
#submit  th{
    width: 200px;
    text-align: center;
}
#submit  tr{
    width: 390px;
    text-align: center;
}
.animated{
    background-color: white;
    /*color: red;*/
}
