
*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h1{
    text-align:center;
}
h2{
    position: relative;
    text-align:left;
    left: 55px;
    top : 10px;
}
#info{
    position: relative;
    top: 2px;
    left: 20px;
}
#info th{
    max-width: 400px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px
}
#info  td{
    width: 150px;
    max-width: 300px;
    padding: 5px;
    text-align: left;
    margin-bottom: 10px;
}
.timetable{
    position: relative;
    /*border-collapse: collapse;*/
    /*border: none;*/
    top: 25px;
    left: 15px;
    max-width: 775px;
    min-width: 775px;
    border: 2px solid #000000;

}
.timetable, .timetable td, .timetable th{
    border-collapse: collapse;
}
.timetable td{
    border: 2px solid;
    /*border-collapse: collapse;*/
    text-align: center;
    vertical-align: top;
    padding: 10px 5px 10px 5px;
}
.subject textarea{
    width:100px;
    height:48px;
    resize: none;
    border: none;
    outline: 0;
    font-size: 1em;
    text-align: center;
    /*color: #444444;*/
}

.timetable .interval{
    background-color: #ffffff;

}
.timetable  th{
    width: 120px;
    background-color: #ffffff;
    /*color: white;*/
    padding: 5px;
}
.timetable .time{
    width: 100px;
    vertical-align: middle;
}
.classroom{
    position: relative;
    display: block;
    width: 40px;
    height: 18px;
    opacity: .9;
    top: -10px;
    left: -4px;
}
.classroom input{
    /*background-color: #151612;*/
    /*color: white;*/
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-size: 1.0em;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    outline: 0;
}
#edit{
    position: relative;
    left: 50px;
    width: 700px;
    text-align: center;
}
#submit{
    position: relative;
    /*top: 10px;*/
    left: 50px;
    width: 700px;
}
#submit  th{
    width: 200px;
    text-align: center;
}
#submit  tr{
    width: 390px;
    text-align: center;
}
#schoolName{
    position: relative;
    left: 10%;
}
#teacherName{
    position: relative;
    left: 10%;
    text-align: center;
    /*font-size: 1.5em;*/
}
#class{
    position: relative;
    left: 10%;
    text-align: center;
    /*font-size: 1.5em;*/
}