/*
UNDERSTANDING THE STYLESHEET.

*/


*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
body {
    background-image:url('../images/cream_pixels.png');
    background-repeat: repeat;
}
#nav, li, ul {
    list-style-type: none;
}
#nav {
    position:absolute;
    display:block;
    background-color: white;
    float: left;
    width: 300px;
    top: 260px;
    left: 0px;
    border: 2px solid #d5d5d5;
    z-index: 3;
}
#nav li a {
    display: block;
    padding: 10px 15px;
    background: #ffffff;
    text-decoration: none;
    color: #000;
}
#nav li a:hover {
    background: #ececec;
    color: #00aee9;
    cursor: pointer; cursor: hand;
}
#nav li a:active {
    background: #ececec;
    color: #0099d4;
}
#nav li ul {
    display: none; /* used to hide sub-menus*/
}
#nav li ul li a {
    padding: 10px 25px;
    background: #ffffff;
    font-size:14px;
}
#nav li ul li a:hover {
    padding: 10px 25px;
    background: #ffffff;
    font-size:14px;
}
#nav li ul li hr{
    width: 80%;
    padding: 0px 0px 0px 0px;
    margin: 0px auto;
}
#main {
    width:800px;
    /*height: Set dynamically;*/
    z-index: 2;
    margin: 0px auto 0px auto;
    clear: both;
    top:100px;
    background-color: #ffffff;
    border: 2px solid #f0f0f0;
    border-radius: 0px 0px 20px 20px;
    position:relative;
    display: block;
}
#header{
    position:absolute;
    top:0px;
    left:0px;
    z-index: 0;
    width:100%;
    height:250px;
    background-color: #003448;
}
    #schoolLogo{
        position: absolute;
        z-index: 3;
        right:0;
        margin-left:auto;
        margin-right:auto;
        top:10px;
        left:-700px;
        border: 2px solid #000000;
        /*left: 200px;*/
    }
#footer {
    position:absolute;
    /*top: Set dynamically;*/
    left:0px;
    z-index: -1;
    width:100%;
    height:250px;
    background-color: #2d2d2d;
}
    #aboutus{
        position: relative;
        color: #f0f0f0;
        margin:90px auto 0px auto;
        clear: both;
        max-width: 750px;
        text-align: justify;
        text-justify: inter-word;
    }
    #aboutus p{
        font-weight: 600;
        font-size: 18px;
        color: #cc7f00;
        margin-left: 20px;
    }
#language{
    position: absolute;
    z-index: 3;
    background-color: #003448;
    margin: 10px 0px 0px 0px;
    top:0px;
    right:10px;
    width:100px;
    height: 30px;
    text-align: center;
}
#language ul{
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #cc7f00;
}
#language ul a{
    font-size: 14px;
    color: #cc7f00;
    padding: 0;
}
#divMenu{
    position: absolute;
    width:800px;
    margin-left: auto;
    margin-right: auto;
    left: 200px;
    right: 0;
    clear: both;
    top:58px;
    height: 50px;
}
    .topMenuItem{
        background-color: #2d2d2d;
        height: 50px;
        width:120px;
        text-align: center;
        vertical-align: middle;
        color: #cacaca;
        font-weight: 400;
        font-size: 18px;
        float: left;
    }
        .topMenuItem a{
            position: relative;
            top: 15px;
            text-decoration: none;
            color: #cacaca;
            font-weight: 600;
            font-size: 18px;
        }
        #home{
            border-radius: 5px 5px 0px 0px;
        }
        #currentUser{
            position: relative;
            width:480px;
            text-align: right;
            background: none;
        }
            #currentUser span{
                position: relative;
                top: 15px;
            }
        #logging{
            position: relative;
            background: none;
            text-decoration: underline;
            /*color: red;*/
        }
            #logging a{
                font-weight: 400;
                color: #cc7f00;
            }
        .topMenuItem a:hover{
            color: #0099d4;
            cursor: pointer;
        }

#navHide {
    position: absolute;
    display: none;
    height: 400px; width: 60px;
    left: 0;
    top: 250px;
    background-color: #2d2d2d;
    color: #cacaca;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    vertical-align: middle;
}
#navHide table {
    border-collapse: collapse;
}
#navHide td {
    height: 400px;
    vertical-align: middle;
    text-align: center;
}
.grayText{
    text-align: center;
    color: gray;
}